body {
    background-color: #111;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #fff;
    text-align: center;
}

.mapsContainer img {
    border-radius: 12px;
    outline: #fff solid 2px;
    transition: 0.3s;
}

.mapsContainer img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}